body{
	background:linear-gradient(45deg, #302f2e, #7d7b79, #fffdfb);
}
	
header{
	text-align: center;
}
	
#title{
	font-weight: bold;
	font-size: 60px;
}
	
#img-div{
	background-color: white;
	margin: 10px 10px 10px 10px;
	border-radius:50px;
}

#image{
	display:block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border-radius:50px;
}

#img-caption{
	text-align: center;
}
	
#tribute-info{
	max-width: 550px;
	margin:auto;
}

#tribute-info h2{
	text-align:center;
}

#tribute-info li{
	text-align: left;
	margin:16px 0;
}

#tribute-quote{
	text-align: left;
	margin:0 auto 50px auto;
	max-width:545px;
	font-style:italic;
}

#link-to-tribute{
	text-align: center;
	font-weight: bold;
}
	
	
	
	
	